html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

body {
  background: linear-gradient(49deg, #000000, #4a0fff80, #000000, #000000, #ff00f780, #000000);
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  -o-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:20% 50%}
    100%{background-position:49% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:20% 50%}
    100%{background-position:49% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:20% 50%}
    100%{background-position:49% 0%}
}
@keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:20% 50%}
    100%{background-position:49% 0%}
}
