html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
}
html {
  scroll-behavior: smooth;
 }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

  body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorBottom.css-r2ftqo-MuiPaper-root-MuiDrawer-paper, body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-y28f86 > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorBottom.css-1hut1hk{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    backdrop-filter: blur(30px);
    z-index: 99999999999999999910;
  }
  
  body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight.css-1vxvp5a-MuiPaper-root-MuiDrawer-paper, body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-y28f86 > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight.css-p65fxs{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    backdrop-filter: blur(30px);
    z-index: 99999999999999999910;
  }

  .heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
  }
  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }


  ::-webkit-scrollbar
    {
      width: 5px;  /* for vertical scrollbars */
      height: 5px;
      border-radius: 50px; /* for horizontal scrollbars */
    }
    
    ::-webkit-scrollbar-track
    {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50px;
    }
    
    ::-webkit-scrollbar-thumb
    {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50px;
    }


    .css-heg063-MuiTabs-flexContainer {
      flex-wrap: wrap;
      justify-content: center;
  }

  video:focus{
    outline: none;
    border-color: transparent;
  }


  #nuoviephead, #incorsohead, #nuoveaggiuntehead{
    backdrop-filter: none;
  }

  .css-uwplx6.Mui-focusVisible{
    box-shadow: none!important;
  }
  .css-uwplx6{
    color: transparent!important;
  }

  #basic-menu > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1if8r2c-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    margin-top: 10px!important;
    border-radius: 15px;
    
    background-color: transparent!important;
    background: transparent!important;
    backdrop-filter: blur(50px)!important;
  }


  .MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium .css-phb9gr{
    height: 25px;
    fill: currentColor;
  }